.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #c21c1c;
  }
  
  .home h1 {
    color: #ff0000;
  }
  
  .home button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #21218a;
    color: rgb(92, 13, 13);
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }